@import '~scss/variables.scss';

.footer {
  background: $light-pink;
  border-top: 1px solid $light-pink-gray;
  text-align: center;
  font-size: $font-text-sm;
  padding: $space-stack-nn;
  color: $neutral-suva-grey;
}
